@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&display=swap');

:root {
  --color-primary: #78A109;
  --color-second: #D5D0CD;
  --color-font: #00070C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;
  color: var(--color-font);
}

header {
  width: 100%;
  height: 69px;
  padding: 0 137px;

  background-color: var(--color-second);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;

}

li {
  font-family: 'montserrat' ,Helvetica ,Arial ,sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  padding: 6px 13px;
}

li:hover {
  font-weight: 500;
  background-color: var(--color-primary);
  border-radius: 2px;
}
